.UserSearch{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.InputText{

   padding: 1vh;
}

.Btn1{
    padding: 1vh;
    background-color: black;
    color: white;
}