.BiggContainer{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    
}
.Container{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}
.Image{
    position: relative;
}
.Image img{
    height: 25em;
    width: 100%;
}
.Details{
    position: absolute;
    top:15;
    left:0;
    right:0;
    bottom: 0;
}
.userLink{
    color: white;
    text-decoration: none;
    font-size: x-large;
    border: 1px solid black;
}
p{
    color: white;
}
.Row{
    padding: 1vh;
}

.Subcontainer{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.Subrow2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.Subrow_1,.Row1{
    display: flex;
    flex-wrap:wrap;
}
.Rowitem{
    margin: 1vh;
    padding:1vh;
}

.Fausers{
    font-size:5vh;
    color: rgb(239, 10, 247);
}